service:
  enabled: true
  port: 9002
  targetPort: 8082
  nodePort: 30102
  ingress:
    enabled: true
    paths:
      - /album
      - /album/*
      - /album/*/image
      - /image/*
#      - /album/livestream
#      - /album/profile
      - /albums/* # probably refactor
      - /asset/*
      - /assets/*
  env:
    KAFKA_BOOTSTRAP_SERVERS: thirdplace-kafka-kafka-brokers.kafka.svc.cluster.local
    KAFKA_SECURITY_PROTOCOL:
    KAFKA_SASL_MECHANISM:
    KAFKA_SASL_USERNAME:
    KAFKA_SASL_PASSWORD:

    POSTGRES_HOST: image-service-postgres.image-service.svc.cluster.local
    POSTGRES_PORT: 5432
    POSTGRES_DB: image_service
    POSTGRES_USER: service_user

    IMAGE_DIR: /var/images
postgres:
  auth:
    username: service_user
    database: image_service
