version: "3"
services:
  db:
    image: "postgres"
    container_name: "pg_image_service"
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data